Repository papillonbits/tags: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/**/src/**/*.{js,jsx} --fix, prettier --write "packages/**/src/**/*.{js,jsx}", stylelint "packages/**/src/**/*.{css,scss}" --syntax=scss --fix, prettier --write "packages/**/src/**/*.{css,scss}"

setup gitignore
  .gitignore
Due: none

setup eslint
  .eslintignore
  .eslintrc.js
Due: none

setup editorconfig
  .editorconfig
Due: none

setup tags core webpack
  packages/core/webpack/index.html
  packages/core/webpack/webpack.acceptance.babel.js
  packages/core/webpack/webpack.common.js
  packages/core/webpack/webpack.constant.js
  packages/core/webpack/webpack.develop.babel.js
  packages/core/webpack/webpack.release.babel.js
  packages/core/webpack/webpack.test.babel.js
Due: none

implement tags core render
  packages/core/src/clientRenderApp.js
  packages/core/src/index.js
Due: eslint --ext .js --ext .jsx packages/**/src/**/*.{js,jsx} --fix, prettier --write "packages/**/src/**/*.{js,jsx}"

implement data
  packages/core/src/data/index.js
Due: eslint --ext .js --ext .jsx packages/**/src/**/*.{js,jsx} --fix, prettier --write "packages/**/src/**/*.{js,jsx}"

implement font
  packages/core/src/font/selection.json
Due: none

implement library
  packages/core/src/library/font.js
Due: eslint --ext .js --ext .jsx packages/**/src/**/*.{js,jsx} --fix, prettier --write "packages/**/src/**/*.{js,jsx}"

implement style
  packages/core/src/style/index.scss
Due: stylelint "packages/**/src/**/*.{css,scss}" --syntax=scss --fix, prettier --write "packages/**/src/**/*.{css,scss}"

update jest test results
  .jest-test-results.json
Due: none

implement atom image
  packages/core/src/pattern/atom/Image/Icon.jsx
  packages/core/src/pattern/atom/Image/__tests__/Icon.int.story.js
  packages/core/src/pattern/atom/Image/__tests__/Icon.int.test.js
  packages/core/src/pattern/atom/Image/__tests__/__snapshots__/Icon.int.test.js.snap
  packages/core/src/pattern/atom/Image/index.js
Due: eslint --ext .js --ext .jsx packages/**/src/**/*.{js,jsx} --fix, prettier --write "packages/**/src/**/*.{js,jsx}"

implement atom text
  packages/core/src/pattern/atom/Text/Info.jsx
  packages/core/src/pattern/atom/Text/Info.scss
  packages/core/src/pattern/atom/Text/Input.jsx
  packages/core/src/pattern/atom/Text/Input.scss
  packages/core/src/pattern/atom/Text/Label.jsx
  packages/core/src/pattern/atom/Text/Label.scss
  packages/core/src/pattern/atom/Text/__tests__/Info.int.story.js
  packages/core/src/pattern/atom/Text/__tests__/Info.int.test.js
  packages/core/src/pattern/atom/Text/__tests__/Input.int.story.js
  packages/core/src/pattern/atom/Text/__tests__/Input.int.test.js
  packages/core/src/pattern/atom/Text/__tests__/Label.int.story.js
  packages/core/src/pattern/atom/Text/__tests__/Label.int.test.js
  packages/core/src/pattern/atom/Text/__tests__/__snapshots__/Info.int.test.js.snap
  packages/core/src/pattern/atom/Text/__tests__/__snapshots__/Input.int.test.js.snap
  packages/core/src/pattern/atom/Text/__tests__/__snapshots__/Label.int.test.js.snap
  packages/core/src/pattern/atom/Text/index.js
Due: eslint --ext .js --ext .jsx packages/**/src/**/*.{js,jsx} --fix, prettier --write "packages/**/src/**/*.{js,jsx}", stylelint "packages/**/src/**/*.{css,scss}" --syntax=scss --fix, prettier --write "packages/**/src/**/*.{css,scss}"

implement atom title
  packages/core/src/pattern/atom/Title/Heading.jsx
  packages/core/src/pattern/atom/Title/Heading.scss
  packages/core/src/pattern/atom/Title/__tests__/Heading.int.story.js
  packages/core/src/pattern/atom/Title/__tests__/Heading.int.test.js
  packages/core/src/pattern/atom/Title/__tests__/__snapshots__/Heading.int.test.js.snap
  packages/core/src/pattern/atom/Title/index.js
Due: eslint --ext .js --ext .jsx packages/**/src/**/*.{js,jsx} --fix, prettier --write "packages/**/src/**/*.{js,jsx}", stylelint "packages/**/src/**/*.{css,scss}" --syntax=scss --fix, prettier --write "packages/**/src/**/*.{css,scss}"

implement molecule info
  packages/core/src/pattern/molecule/Info/Tag.jsx
  packages/core/src/pattern/molecule/Info/Tag.scss
  packages/core/src/pattern/molecule/Info/__tests__/Tag.int.story.js
  packages/core/src/pattern/molecule/Info/__tests__/Tag.int.test.js
  packages/core/src/pattern/molecule/Info/__tests__/__snapshots__/Tag.int.test.js.snap
  packages/core/src/pattern/molecule/Info/index.js
Due: eslint --ext .js --ext .jsx packages/**/src/**/*.{js,jsx} --fix, prettier --write "packages/**/src/**/*.{js,jsx}", stylelint "packages/**/src/**/*.{css,scss}" --syntax=scss --fix, prettier --write "packages/**/src/**/*.{css,scss}"

implement molecule list
  packages/core/src/pattern/molecule/List/TagList.jsx
  packages/core/src/pattern/molecule/List/TagList.scss
  packages/core/src/pattern/molecule/List/__tests__/TagList.int.story.js
  packages/core/src/pattern/molecule/List/__tests__/TagList.int.test.js
  packages/core/src/pattern/molecule/List/__tests__/__snapshots__/TagList.int.test.js.snap
  packages/core/src/pattern/molecule/List/index.js
Due: eslint --ext .js --ext .jsx packages/**/src/**/*.{js,jsx} --fix, prettier --write "packages/**/src/**/*.{js,jsx}", stylelint "packages/**/src/**/*.{css,scss}" --syntax=scss --fix, prettier --write "packages/**/src/**/*.{css,scss}"

implement organism card
  packages/core/src/pattern/organism/Card/MultiTag.jsx
  packages/core/src/pattern/organism/Card/MultiTag.scss
  packages/core/src/pattern/organism/Card/__tests__/MultiTag.int.story.js
  packages/core/src/pattern/organism/Card/__tests__/MultiTag.int.test.js
  packages/core/src/pattern/organism/Card/__tests__/__snapshots__/MultiTag.int.test.js.snap
  packages/core/src/pattern/organism/Card/index.js
Due: eslint --ext .js --ext .jsx packages/**/src/**/*.{js,jsx} --fix, prettier --write "packages/**/src/**/*.{js,jsx}", stylelint "packages/**/src/**/*.{css,scss}" --syntax=scss --fix, prettier --write "packages/**/src/**/*.{css,scss}"

implement template input
  packages/core/src/pattern/template/Input/MultiTagCard.jsx
  packages/core/src/pattern/template/Input/MultiTagCard.scss
  packages/core/src/pattern/template/Input/__tests__/MultiTagCard.int.story.js
  packages/core/src/pattern/template/Input/__tests__/MultiTagCard.int.test.js
  packages/core/src/pattern/template/Input/__tests__/__snapshots__/MultiTagCard.int.test.js.snap
  packages/core/src/pattern/template/Input/index.js
Due: eslint --ext .js --ext .jsx packages/**/src/**/*.{js,jsx} --fix, prettier --write "packages/**/src/**/*.{js,jsx}", stylelint "packages/**/src/**/*.{css,scss}" --syntax=scss --fix, prettier --write "packages/**/src/**/*.{css,scss}"

setup husky
  .husky/pre-commit
Due: none

Updates
  404.html
  index.html
  js/main.c715e1701b1e780c7280.bundle.js
  js/main.c715e1701b1e780c7280.bundle.js.LICENSE.txt
  js/runtime.44613e18aa3555a3fd38.bundle.js
  js/runtime.44613e18aa3555a3fd38.bundle.js.LICENSE.txt
  manifest.json
  report.html
  styles/main.6dbdc470e1105302e620.css
Due: none

bumpstack tags comply with node v19.1.0 and npm v8.19.3
  package-lock.json
  package.json
Due: none

bumpstack tags comply with node v19.3.0 and npm v9.2.0
  package-lock.json
  package.json
  packages/core/package-lock.json
  packages/core/webpack/webpack.acceptance.babel.js
  packages/core/webpack/webpack.common.babel.js
  packages/core/webpack/webpack.constant.babel.js
  packages/core/webpack/webpack.develop.babel.js
  packages/core/webpack/webpack.release.babel.js
  packages/core/webpack/webpack.test.babel.js
Due: none

bumpstack tags comply with node v19.5.0 npm v9.3.1 jsdom v21.1.0
  package-lock.json
  package.json
Due: none

bumpstack tags comply with node v19.6.1 npm v9.4.0
  bumpstack.sh
  package-lock.json
  package.json
Due: none

bumpstack tags comply with node v20.3.1 npm v9.6.7
  LICENSE
  bumpstack.sh
  package-lock.json
  package.json
  packages/core/bumpstack.sh
Due: none

Updates
  404.html
  index.html
  js/main.c715e1701b1e780c7280.bundle.js
  js/main.ed8e52895335f1e288d5.bundle.js
  js/main.ed8e52895335f1e288d5.bundle.js.LICENSE.txt
  js/runtime.44613e18aa3555a3fd38.bundle.js.LICENSE.txt
  manifest.json
  report.html
  styles/main.fba8b99f8dbc3e905078.css
Due: none

bumpstack tags comply with storybook v7.0.24
  bumpstack.sh
  package-lock.json
  package.json
Due: none

Updates
  report.html
Due: none

bumpstack tags comply with node v20.6.0 npm v9.8.1
  bumpstack.sh
  package-lock.json
  package.json
Due: none

Updates
  404.html
  index.html
  js/main.3787e2ba48fd68282c63.bundle.js
  js/main.3787e2ba48fd68282c63.bundle.js.LICENSE.txt
  js/main.ed8e52895335f1e288d5.bundle.js
  js/runtime.44613e18aa3555a3fd38.bundle.js
  js/runtime.44613e18aa3555a3fd38.bundle.js.LICENSE.txt
  js/runtime.fa9f6f1594ec01266529.bundle.js
  js/runtime.fa9f6f1594ec01266529.bundle.js.LICENSE.txt
  manifest.json
  report.html
  styles/main.1b8fe9a034ea3a742f43.css
Due: none

bumpstack tags comply with node v21.5.0 npm v10.2.4 redux v5.0.1
  package-lock.json
  package.json
Due: none

update license
  LICENSE
Due: none

Path conditions:
  eslint --ext .js --ext .jsx packages/**/src/**/*.{js,jsx} --fix: any of: packages/**/src/**/*.{js,jsx}
  prettier --write "packages/**/src/**/*.{js,jsx}": any of: packages/**/src/**/*.{js,jsx}
  stylelint "packages/**/src/**/*.{css,scss}" --syntax=scss --fix: any of: packages/**/src/**/*.{css,scss}
  prettier --write "packages/**/src/**/*.{css,scss}": any of: packages/**/src/**/*.{css,scss}
